extends base

block header
  h1(class="tn-col-1-3 tn-website-title tn-text-text-color-main-white")= site.title

block main       
  div(class="tn-container tn-element-color-main-white")
    div(class="tn-page")
        block content
