extends base

block header
  h1(class="tn-col-1-1 tn-website-title tn-text-text-color-main-white")= site.title

block main
  div(class="login-container ")
    div(class="tn-page tn-element-color-main-white")
        block content
